<form id="body" method="post" action="/register">
    <input type="text" name="username"></input>
    <input type="password" name="password"></input>
    <button type="submit">Submit</button>
</form>

<% if(global.error && global.error.length > 0 ){%>
    <br>
        <%= global.error%>
    </br>
<% } %>
