body{ margin: 0; }
.container{ background: cyan; padding: 1rem; min-width: 20rem; }
.description-container{ overflow: auto; background: magenta; min-height: 4rem; display: flex; flex-wrap: wrap; justify-content: center; }
.correction-container{ background: red; min-height: 4rem; }
.input-container{ background: lightseagreen; min-height: 1rem; overflow: auto; }

.description-box{ background-color: #f4f4f4; width: 30rem; padding: 1rem; margin: 1rem; flex-grow: 1; }
.description-text{ font-size: 1.5rem; white-space: pre-wrap; }
.description-image{ min-height: 20rem; background-size: contain; background-repeat: no-repeat; background-position: center; }

.choice-box{ border: 0.8rem solid transparent; background-color: #f4f4f4; width: 30rem; padding: 1rem; margin: 1rem; flex-grow: 1; position: relative; }
.choice-text{ pointer-events: none; font-size: 1.5rem; white-space: pre-wrap; }
.choice-image{ pointer-events: none; min-height: 20rem; background-size: contain; background-repeat: no-repeat; background-position: center; }
.marked-choice{ border-color: darkred; }
.checkbox-input{ display: none; }

.the-input{ background: none; font-size: 1.5rem; border: none; width: 100%; }
.input-box{ border: 0.3rem solid transparent; background-color: white; margin: 1rem; flex-grow: 1; }
.submit-button{ border: 0.3rem solid transparent; background-color: green; text-align: center; font-size: 1.5rem; color: white; margin: 1rem; padding: 0.3rem; }
.input-flex-container{ display: flex; flex-wrap: wrap; justify-content: center; }
.correct-answer{ background-color: green; }
.incorrect-answer{ background-color: red; }
.focus-answer{ border-color: black; }

.error-text{ font-size: 1.5rem; text-align: center; padding: 1rem; }
